.SignUp{
    margin:10rem auto;
    width: 20rem;
    background-color: rgba(141, 142, 182, 0.616);
}
input{
    margin-bottom: 1rem;
}
.SignUp h1{
    color: navy;
    text-align: center;
}
.form-floating{
    margin: auto;
    width: 15rem;
}
